@model IEnumerable<WebApplication1.Models.User>
@{
    this.ViewBag.Title = "Main Page";
}
<form asp-controller="Home" asp-action="Index" method="post">
    <input type="file"name="file" />
    <hr/>
    <button type="submit">Go</button>
</form>

@*<div class="download-button">
    <a id="Download" asp-area="" asp-controller="Home" asp-action="DownloadFile">Download</a>
</div>*@
@if(Model.Count()>0)
{ 
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Date Of Birth</th>
            <th>Married</th>
            <th>Salary</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Name</td>
                <td>@d.Phone</td>
                <td>@d.DateOfBirth</td>
                <td>@d.Married</td>
                <td>@d.Salary</td>
            </tr>

        }
    </table>
}
